@import "~@kaizen/deprecated-component-library-helpers/styles/layout";
@import "~@kaizen/design-tokens/sass/variable-identifiers";
@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";

.container {
  border-radius: $kz-var-border-solid-border-radius;
  margin-bottom: $ca-grid;
}

.noMargin {
  margin: 0;
}

// Background Style Variations

.positive {
  background: $kz-var-color-green-100;
  border-color: var(#{$kz-var-id-color-green-300}, $kz-var-color-green-200);
  color: $kz-var-color-purple-800;
}

.negative {
  background: $kz-var-color-red-100;
  border-color: var(#{$kz-var-id-color-red-300}, $kz-var-color-red-200);
  color: $kz-var-color-purple-800;
}

.informative {
  background: $kz-var-color-blue-100;
  border-color: var(#{$kz-var-id-color-blue-300}, $kz-var-color-blue-200);
  color: $kz-var-color-purple-800;
}

.cautionary {
  background: $kz-var-color-yellow-100;
  border-color: var(#{$kz-var-id-color-yellow-400}, $kz-var-color-yellow-300);
  color: $kz-var-color-purple-800;
}

.default {
  // Slate 700 10% for Heart theme, Wisteria 300 for Zen theme (use Zen fallback when CSS variables aren't available).
  --slate-700-10: rgba(var(#{$kz-var-id-color-neutral-600-rgb-params}), 0.1);
  background-color: $kz-var-color-neutral-300;
  border-color: var(--neutral-600-700-10, $kz-var-color-purple-300);
}

// Border Style Variations

.solid {
  border-style: $kz-var-border-solid-border-style;
  border-width: $kz-var-border-solid-border-width;
}

.dashed {
  border-style: $kz-var-border-dneutral-300ed-border-style;
  border-width: $kz-var-border-dneutral-300ed-border-width;
}

.none {
  border-color: $kz-var-border-borderless-border-color;
  border-style: $kz-var-border-borderless-border-style;
  border-width: $kz-var-border-borderless-border-width;
}
