@import "~@kaizen/design-tokens/sass/color-vars";
@import "~@kaizen/design-tokens/sass/border-vars";
@import "~@kaizen/design-tokens/sass/shadow-vars";

.wrapper {
  color: $kz-var-color-purple-800;
  background-color: $kz-var-color-neutral-100;
  border-radius: $kz-var-border-borderless-border-radius;
  box-shadow: $kz-var-shadow-small-box-shadow;
}
